@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Eczar:wght@600&family=Ysabeau:ital,wght@0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

.all-content{
  background: #f7f5f2;
}
/* ------- Nav Bar-----------*/

#navbar{
  font-family: 'Castoro Titling', cursive;
}
#logo img{
  border-radius: 10px;
  width: 160px;
  margin-left: 40px;
}
.nav-item .nav-link{
  color: #634C43;
  margin-left: 10px;
  font-weight: bold;
  transition: 0.5s;
}
.nav-item .nav-link:hover{
  border-bottom: 2px solid #3C2A21;
}
/* ------- Nav Bar-----------*/

/* ---------Home------------- */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(96, 76, 76, .6), rgba(96, 76, 76, .6)), url("/neslyndev.github.io/img/beans.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content p{
    color: #f7f5f2;
    font-family: 'Ysabeau', sans-serif;
    font-style: italic;
    font-size: x-large;
    font-weight: bold;
}
/* ---------Home------------- */

/* ----------menu---------- */
.menu{
    width: 100%;
    background: #f7f5f2;
  }
  .heading3{
    text-align: center;
    font-size: 25px;
    font-family: 'Castoro Titling', cursive;
    color: #634C43;
    font-weight: bold;
    border-bottom: 2px solid #634C43;
    padding-top: 50px;
  }
  #container2{
    margin-top: 50px;
  }
  .menu .card{
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .star i{
    color: #634C43;
  }
  .menu h3{
    color: #634C43;
    font-family: 'Ysabeau', sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
  }
  .menu p{
    font-size: 18px;
    color: #634C43;
    padding-top: 10px;
  }
  .menu p span{
    float: right;
    cursor: pointer;
  }
  /* ----------menu---------- */

  /* -------Inner hero-------- */
  #Order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Ysabeau', sans-serif; 
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(96, 76, 76, .6), rgba(96, 76, 76, .6)), url("/neslyndev.github.io/img/togo2.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  .hero-content h3{
    font-size: 50px;
    color: white;
}
  .hero-content p{
    color: #f7f5f2;
    font-style: italic;
    font-weight: bold;
}
  #btn{
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
  #btn:hover{
    background: #b2744c;
    color: white;
  }
    /* -----End of Inner hero----- */

  /* ---------------about------------------- */

  #about{
    width: 100%;
    height: 100vh;
    background: #f7f5f2;
    font-family: 'Ysabeau', sans-serif;
  }
  #about .container{
    padding-top: 50px;
  }
  .heading{
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
    font-family: 'Castoro Titling', cursive;
    color: #634C43;
    font-weight: bold;
    border-bottom: 2px solid #634C43;
  }
  #about .card{
    border-radius: 10px;
  }
  #about .card img{
    border-radius: 10px;
  }
  #about-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #634C43;
    color: #634C43;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
  }
  #about-btn:hover{
    background: #b2744c;
    color: white;
  }
  @media screen and (max-width:982px){
    #about p{
      font-size: 8px;
    }
  }
  @media screen and (max-width:766px){
    #about p{
      font-size: 15px;
    }
    #about{
      height: 120vh;}
    }

/* gallery */

#gallery{
  width: 100%;
  background: #f7f5f2;
  font-family: 'Ysabeau', sans-serif;
}
#gallery h1{
  text-align: center;
  color: #634C43;
  font-size: 35px;
  font-weight: bold;
}
#gallery .card{
  border-radius: 10px;
}
#gallery .card img{
  border-radius: 10px;
  cursor: pointer;
}